    {% include "pb_debug_pause.pmc.jinja" %}

    //---- Homing State ----
    if (HomingStatus == StatusHoming || HomingStatus == StatusDebugHoming){
        HomingState=StateHoming
        // Execute the move commands
        {{ group.restore_home_flags() }}
        {{ group.home() }}
        {% include "pb_wait_for_done.pmc.jinja" %}
    }

