;---- Configuring State ----
HomingState=StateConfiguring
;Save the Homing group to px03
HomingBackupGroup=HomingGroup
;Save high soft limits to P variables px04..x19
{{ plc.save_hi_limits() }}
;Save the low soft limits to P variables px20..x35
{{ plc.save_lo_limits() }}
;Save the home capture flags to P variables px36..x51
{{ plc.save_homed() }}
;Store 'not flag' to use in moving off a flag in P variables px52..x67
{{ plc.save_not_homed() }}
;Save the limit flags to P variables px68..x83
{{ plc.save_limit_flags() }}
;Save the current position to P variables px84..x99
{{ plc.save_position() }}
;Clear the soft limits
{{ plc.clear_limits() }}