    ;--- Homing State 2 ----
    if (HomingStatus = StatusHoming or HomingStatus = StatusDebugHoming)
        HomingState=StateHoming
        ; This block to be used after a home block with wait_for_one_motor=True
        ; it allows motors to continue to home but restarts those that have already
        ; reached home. For use with axes that are sensitve to tilt but do not have
        ; aligned home marks
        if (m142|m242 = 0)
            ; if one motor stopped on home mark then start it moving in home direction again
            if (m140=1 and m240=0)
                m172=100000000*(i123/ABS(i123))
                cmd "#1J^*"
            else
                if (m240=1 and m140=0)
                    m272=100000000*(i223/ABS(i223))
                    cmd "#2J^*"
                endif
            endif
            timer = 20 MilliSeconds ; Small delay to start moving
            while (timer > 0)
            endw
        {% include "wait_for_done.pmc.jinja" %}
    endif
