    {%- include "debug_pause.pmc.jinja" %}

    ;---- {{template.args.state}} State ----
    if (HomingStatus = StatusHoming or HomingStatus = StatusDebugHoming)
        HomingState=State{{template.args.state}}
        ; Execute the move commands
        {{ group.set_large_jog_distance(negative=template.args.negative) }}
        cmd "{{ group.jog_to_home_jdist() }}"
        {% include "wait_for_done.pmc.jinja" %}
    endif
