    {%- include "debug_pause.pmc.jinja" %}

    ;---- FastRetrace State ----
    if (HomingStatus = StatusHoming or HomingStatus = StatusDebugHoming)
        HomingState=StateFastRetrace
        ; Execute the move commands
        {{ group.negate_home_flags() }} {{ group.set_large_jog_distance() }}
        cmd "{{ group.jog_axes_jdist() }}"
        {% include "wait_for_done.pmc.jinja" %}
    endif
