    ;---- FastSearch State ----
    if (HomingStatus = StatusHoming or HomingStatus = StatusDebugHoming)
        HomingState=StateFastSearch
        ; Execute the move commands
        {{ group.set_large_jog_distance(negative=False) }}
        cmd "{{ group.jog_axes_jdist() }}"
        {% include "wait_for_done.pmc.jinja" %}
    endif
